.btn {
    padding: 10px;
    width: 6rem;
    border: none;
    border-radius: .5rem;
    background-color: #33335F;
    color: #ffffff;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.btn:hover {
    background-color: #464682;
    transition: .5s;
}