.btn {
	padding: 10px;
	width: 6rem;
	border: none;
	border-radius: 0.5rem;
	background-color: #33335f;
	color: #ffffff;
	font-weight: bold;
	transition: 0.5s;
	cursor: pointer;
}

.btn:hover {
	opacity: 0.85;
	transition: 0.5s;
}
