@font-face {
	font-family: "RadioCanada";
	src: url("./fonts/Radio_Canada_Big/static/RadioCanadaBig-Regular.ttf");
}

body {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-weight: 400;
	background-color: #f5f5f5;
	font-family: "RadioCanada";
}

::-webkit-scrollbar {
	width: 0.8rem;
}

::-webkit-scrollbar-thumb {
	background-color: #33335f;
	border-radius: 6px;
}

::-webkit-scrollbar-track {
	background-color: #ffffff;
}

::-webkit-scrollbar-button {
	display: none;
}
